{% load static %}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="custom-section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">About Us</h5>
                    <h1 class="mb-0">Empowering Your Success with SinamFor's Expertise</h1>
                </div>
                <p class="mb-4 text-justify">
                    At SinamFor, we believe every dream is attainable with the right guidance and support.
                    Whether you're a student navigating academia or an entrepreneur turning visions into reality, our
                    seasoned mentors and coaches provide personalized guidance to help you overcome challenges and
                    unleash your full potential. Through one-on-one coaching, workshops, and comprehensive training
                    programs, we equip you with the tools, insights, and strategies needed for success. More than just
                    consultants, we are dedicated partners in your journey, celebrating your victories and supporting you
                    through challenges. With SinamFor, you're not just a client — you're family.
                </p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Professional Staff</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>24/7 Support</h5>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="d-flex align-items-center">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Call to ask any question</h5>
                            <h5 class="text-primary mb-0">+228 90 43 52 54</h5>
                            <h5 class="text-primary mb-0">+81- 8492-4509</h5>
                        </div>
                    </div>
                    <a href="quote.html" class="btn btn-primary py-3 px-5" style="border-radius: 10px;">Contact Us</a>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/about-1.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
