{% load static %}

<!-- Features Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Why Choose Us</h5>
            <h1 class="mb-0">Supporting Your Success Every Step of the Journey</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-cubes text-white"></i>
                        </div>
                        <h4>Unlock Your Path to Success</h4>
                        <p class="mb-0">Join our satisfied clientele who have experienced remarkable transformations and unparalleled success with our services.</p>
                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h4>Client-Centric Approach</h4>
                        <p class="mb-0">Your success is our priority. We tailor our services to meet your unique needs and objectives.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h4>Dedicated Team</h4>
                        <p class="mb-0">Our team is committed to providing exceptional service and support, working closely with you to achieve your goals.</p>
                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <h4>24/7 Availability</h4>
                        <p class="mb-0">We are here for you whenever you need us, offering around-the-clock support to ensure your business runs smoothly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
