{% load static %}

<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
            <h1 class="mb-0">Empowering Your Business with Tailored Solutions</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-briefcase text-white"></i>
                    </div>
                    <h4 class="mb-3">Business Consulting</h4>
                    <p class="m-0">Unlock the full potential of your business with our expert consulting services tailored to your unique needs.</p>
                    <a class="btn btn-md btn-primary rounded " style="width: 100px"  href=https://bit.ly/3VyEcyL target="_blank"> Request</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-globe text-white"></i>
                    </div>
                    <h4 class="mb-3">Study Abroad</h4>
                    <p class="m-0">Explore new horizons and enhance your academic journey with our study abroad programs designed for students.</p>
                    <a class="btn btn-md btn-primary rounded " style="width: 100px"  href=https://tally.so/r/w5zeVo target="_blank"> Request</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-language text-white"></i>
                    </div>
                    <h4 class="mb-3">Language Learning</h4>
                    <p class="m-0">Expand your horizons and connect with the world through our language learning programs designed for individuals and businesses.</p>
                    <a class="btn btn-md btn-primary rounded " style="width: 100px"  href="{% url 'request' %}"> Request</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-file-alt text-white"></i>
                    </div>
                    <h4 class="mb-3">Document Translation</h4>
                    <p class="m-0">Break language barriers and reach global audiences with our professional document translation services.</p>
                    <a class="btn btn-md btn-primary rounded " style="width: 100px"  href="{% url 'request' %}"> Request</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-laptop text-white"></i>
                    </div>
                    <h4 class="mb-3">Web Development</h4>
                    <p class="m-0">Create a strong online presence and drive growth with our custom web development solutions tailored to your business.</p>
                    <a class="btn btn-md btn-primary rounded " style="width: 100px"  href="{% url 'request' %}"> Request</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-items-center wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-paint-brush text-white"></i>
                    </div>
                    <h4 class="mb-3">Graphic Design</h4>
                    <p class="m-0">Enhance your brand identity and captivate your audience with our professional graphic design services.</p>
                    <a class="btn btn-md btn-primary rounded " style="width: 100px"  href=""> Request</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
