{% load static %}

<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Team Members</h5>
            <h1 class="mb-0">Expert Team Dedicated to Your Success</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="text-center py-4">
                    <img class="img-fluid w-50 rounded-circle" src="{% static 'img/teams/passigue.png' %}" alt="">
                    <div class="py-4">
                        <h4 class="text-primary">Dr. Passigue, PhD</h4>
                        <p class="m-0">English language coach & consultant, Expert in conflict resolutions</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="m-0 me-2">Togo</p>
                            <img src="{% static 'img/flags/togo_flag.png' %}" alt="Togo Flag" style="width: 20px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="text-center py-4">
                    <img class="img-fluid w-50 rounded-circle" src="{% static 'img/teams/edouard.png' %}" alt="">
                    <div class="py-4">
                        <h4 class="text-primary">Mr. Edward K, M.Eng</h4>
                        <p class="m-0">Business consultant; Study abroad coach; Entrepreneur</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="m-0 me-2">Japan</p>
                            <img src="{% static 'img/flags/japan_flag.jpg' %}" alt="Country Flag" style="width: 20px; height: auto;">
                            <p class="m-0 me-2">| United States</p>
                            <img src="{% static 'img/flags/usa_flag.jpg' %}" alt="Country Flag" style="width: 20px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="text-center py-4">
                    <img class="img-fluid w-50 rounded-circle" src="{% static 'img/teams/yvette.png' %}" alt="">
                    <div class="py-4">
                        <h4 class="text-primary">Mme Yvette G.</h4>
                        <p class="m-0">Financial & Customer Relationship Officer</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="m-0 me-2">Togo</p>
                            <img src="{% static 'img/flags/togo_flag.png' %}" alt="Country Flag" style="width: 20px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="text-center py-4">
                    <img class="img-fluid w-50 rounded-circle" src="{% static 'img/teams/emmanuel.png' %}" alt="">
                    <div class="py-4">
                        <h4 class="text-primary">Mr. Emmanuel A, MSc</h4>
                        <p class="m-0">Study abroad coach, Digital consultant, Robotic Engineer,</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="m-0 me-2">Japan</p>
                            <img src="{% static 'img/flags/japan_flag.jpg' %}" alt="Togo Flag" style="width: 20px; height: auto;">
                            <p class="m-0 me-2">Belgium</p>
                            <img src="{% static 'img/flags/belgium_flag.png' %}" alt="Togo Flag" style="width: 20px; height: auto;">
                            <p class="m-0 me-2">Norway</p>
                            <img src="{% static 'img/flags/norvege_flag.png' %}" alt="Togo Flag" style="width: 20px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="text-center py-4">
                    <img class="img-fluid w-50 rounded-circle" src="{% static 'img/teams/sandra.png' %}" alt="">
                    <div class="py-4">
                        <h4 class="text-primary">Mme Sandra E.</h4>
                        <p class="m-0">Planning & Management Officer,
</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="m-0 me-2">Japan</p>
                            <img src="{% static 'img/flags/japan_flag.jpg' %}" alt="Country Flag" style="width: 20px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="text-center py-4">
                    <img class="img-fluid w-50 rounded-circle" src="{% static 'img/teams/donald.png' %}" alt="">
                    <div class="py-4">
                        <h4 class="text-primary">Mr. Titembaye, MSc </h4>
                        <p class="m-0">Digital consultant, Software & Web developer</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="m-0 me-2">Togo</p>
                            <img src="{% static 'img/flags/togo_flag.png' %}" alt="Country Flag" style="width: 20px; height: auto;">
                            <p class="m-0 me-2"> | Chad</p>
                            <img src="{% static 'img/flags/chad_flag.png' %}" alt="Country Flag" style="width: 20px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="text-center py-4">
                    <img class="img-fluid w-50 rounded-circle" src="{% static 'img/teams/blandine.png' %}" alt="">
                    <div class="py-4">
                        <h4 class="text-primary">Mme Blandine D. M.Sc</h4>
                        <p class="m-0">Study Abroad Coach,</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="m-0 me-2">Senegal </p>
                            <img src="{% static 'img/flags/senegal_flag.png' %}" alt="Togo Flag" style="width: 20px; height: auto;">
                            <p class="m-0 me-2">| Canada</p>
                            <img src="{% static 'img/flags/canada_flag.png' %}" alt="Togo Flag" style="width: 20px; height: auto;">
                            <p class="m-0 me-2"> | Ghana</p>
                            <img src="{% static 'img/flags/ghana_flag.png' %}" alt="Togo Flag" style="width: 20px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="text-center py-4">
                    <img class="img-fluid w-50 rounded-circle" src="{% static 'img/teams/didier.png' %}" alt="">
                    <div class="py-4">
                        <h4 class="text-primary">Mr Didier K.,  MSc</h4>
                        <p class="m-0">Study Abroad Coach, Agribusiness consultant & project management</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="m-0 me-2">French</p>
                            <img src="{% static 'img/flags/france_flag.png' %}" alt="Country Flag" style="width: 20px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
